.quizList {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(180deg, #0868bc 0%, #35cb78cc 100%);
}

.quizList h1 {
  color: #fff;
}

.quizList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.quizList li {
  margin-bottom: 10px;
}

.quizList li a {
  text-decoration: none;
  color: #fff;
}

.quizList li a:hover {
  color: #363636;
}

.noQuizzes {
  color: #fff;
}

.deleteTest {
  padding: 0 5px;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

.deleteTest:hover, .active {
  color: #363636;
}

.deleteBtn {
  margin: 50px 0 20px;
  border: none;
  background: none;
  color:  #fff;
  opacity: .7;
  cursor: pointer;
  font-family: inherit;
}

.deleteBtn:hover, .active {
  color: #363636;
  opacity: 1;
}